* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


.container {
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(150, 37, 37, 0.1);
    border-radius: 8px;
  }
  
.login-box h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  a{
    text-decoration: none;
  }
form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }
  
  hr {
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: -10px;
  }

  label {
    margin: 0.5rem 0 1rem;
    font-weight: bold;
  }
  
  input {
    padding: 0.6rem;
    border: 1px solid #68676794;
    border-radius: 4px;
    height: 50px;
  }
  
  button {
    margin-top: 1.2rem;
    padding: 0.8rem;
    background-color: rgb(76, 157, 250);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
  }
  
  button:hover {
    background-color: #108ee9;
  }
  .recuperar-contraseña{
    font-size: 20px;
  }
  .login-links {
    margin-top: 1rem;
    text-align: center;
  }
  
  .login-links a {
    display: block;
    margin-top: 0.5rem;
    color: #0077cc;
    text-decoration: none;
  }
  
  .login-links a:hover {
    text-decoration: underline;
  }

  .login-title {
    text-align: center;
    margin-top: -80px;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-img {
    background: linear-gradient(90deg,#e74583, #58a3ce);
    height: 5rem;
    margin-bottom: 5%;
  }

  .img-avion {
    width: 60%;
    margin-left: 20%;
    margin-top: -10%;
  }

  .Ciudad {
    padding: 0.9rem;
    border: 1px solid #686767;
    color: gray;
    border-radius: 4px;
    margin-top: -16px;
  }

  .Email1{
    margin-top: 15px;
    font-size: 18px;
    color: gray;
    word-spacing:20px;
  }
  .enviar{
    text-decoration: none;
    color: white;
  }
  .foto{
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    margin-bottom: -15px;
  }

  .info-foto{
    width: 100px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .jhon--{
    width: 50vw;
  }
  .logout{
    color: gray;
  }
  .login-title{
    margin-top: 35px;
    font-size: 20px;
    font-family: Arial;
  }
  .text-ida{
    margin-top: -11vw;
    margin-left: 4vw;
  }
  .checkbox{
    color: gray;
    margin-bottom: -50px;
    margin-top: -2px;
  }
  .vuelos-disponibles{
    margin-top: 50px;
  }

  .login-title2{
    text-align: center;
    font-size: 20px;
    font-family: Arial;
  }

  .info-general{
    margin-left: -60%;
    line-height: 150%;
  }
  .informacion-general img{
    width: 50px;
  }
  .informacion-general{
    display: flex;
    width: 90.5%;
    padding: 1rem;
    margin-top: 5%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px 2px rgba(128, 128, 128, 0.514);
  }

  .vuelos{
    color: gray;
    font-size: 20px;
    margin-top: 4%;
    margin-left:10%;
  }
  .vuelo{
    display: flex;
    width: 90%;
    padding: 1rem;
    margin-top: 5%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px 2px gray;;
  }
  .detalles{
    color: gray;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .detalles span{
    margin-bottom: 10%; 
    font-size: 14px;
  }
  .despliege1{
    color: gray;
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 50%;
  }
  .despliege2{
    color: gray;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 63%;
  }
  .despliege3{
    color: gray;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 50%;
  }
  .info{
    color: gray;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }

  .info span{
    margin-bottom: 10%;
    font-size: 14px;
    margin-left: 40%;
  }

  .info strong{
    margin-bottom: 10%;
    font-size: 20px;
  }

  .info .pesos-colombianos{
    margin-bottom: 10%;
    font-size: 14px;
  }

  .btn-volver{
    margin-top: 10%;
    width: 90%;
  }
  #remenber-me {
    margin-top: 10px;
    margin-left: 5px;
  }
  .recordad-datos{
    margin-top: -38px;
    margin-left: 30px;
    color: #686767;
    font-size: 15px;
  }
  .jhon-texto{
    margin-left: 14vw;
    margin-top: -7vw;
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 92%;
      max-width: 100px;
      padding: 20px;
      box-shadow: none;
      border-radius: 6px;
    }
  
    form {
      padding: 15px;
    }
  
    .info-foto {
      width: 100px;
      margin-left: 60px ;
      display: block;
      margin-top: -35px;
    }
  
    .foto {
      flex-direction: column;
      /* align-items: center; */
      padding: 0;
    }
    .informacion-general,
    .vuelo {
      display: flex;
      width: 90%;
      height: 24vw;
      margin: 20px auto 0 auto;
      padding: 10px;
    }
    .texto-bo{
      width: 30vw;
    }
    .detalles,
    .despliege1,
    .info {
      width: 100%;
      /* margin: 18px 262px; */
    }
    .despliege2{
      margin-left: 308px;
    }
    .despliege3{
      margin-left: 290px;
    }
    .info span,
    .info strong,
    .info .pesos-colombianos {
      margin-left: 0;
    }
  
    .info-general {
      margin-left: 0;
    }
  
    .btn-volver {
      width: 90%;
      margin-top: 30px;
    }
  
    .login-title,
    .login-title2,
    .Email1,
    .vuelos {
      text-align: center;
      font-size: 18px;
    }
  
    .recordad-datos {
      margin: 10px 0 0 0;
      font-size: 14px;
      text-align: left;
      margin-top: -35px;
      margin-left: 25px;
    }
  
    .checkbox {
      margin: 10px 0;
    }
  
    label,
    input,
    button {
      font-size: 14px;
    }
  
    .recuperar-contraseña {
      font-size: 16px;
    }
  }
  